/* styles.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}
.gradient-background {
    background: linear-gradient(300deg, #0077ff, #4cedff, #12eedf);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
form {
    margin: 20px auto;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
li{
    font-size: larger;
} 
button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
}
.container1 {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  .container22{
    min-height: 520px;
  }
